$break-points: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$breaks: map-keys($break-points);

@function next-point($point) {
  $index: (index($breaks, $point)) + 1;
  @return if($index >= 0, nth($breaks, $index), null);
}
@function prev-point($point) {
  $index: (index($breaks, $point)) + -1;
  @return if($index >= 0, nth($breaks, $index), null);
}

@mixin breakpoint-up($point) {
  @media (min-width: map-get($break-points, $point)) {
    @content;
  }
}

@mixin breakpoint-down($point) {
  @media (max-width: map-get($break-points, $point)) {
    @content;
  }
}

@mixin breakpoint-bw($from, $to) {
  $from: map-get($break-points, $from);
  $to: map-get($break-points, $to);
  @media (min-width: $from) and (max-width: $to) {
    @content;
  }
}
