$light: (
  'text': #24292f,
  'bg': #fff,
  'link': #0969da,
  'correct': #1a7f37,
  'present': #bf8700,
  'absent': #cf222e,
);

$dark: (
  'text': #c9d1d9,
  'bg': #0d1117,
  'link': #58a6ff,
  'correct': #3fb950,
  'present': #d29922,
  'absent': #da3633,
);

$dim: (
  'text': #adbac7,
  'bg': #22272e,
  'link': #539bf5,
  'correct': #57ab5a,
  'present': #c69026,
  'absent': #c93c37,
);
