#keypad {
  padding: 8px;
  --space: 0.5rem;
  inline-size: min(100%, 1200px);
  margin: 0 auto 1rem;
}

.lane {
  display: flex;
  justify-content: space-around;
  gap: var(--space);

  & + & {
    margin-block-start: var(--space);
  }
}

.key {
  block-size: 40px;
  flex: 1;
  padding: 0;
  font-size: 14px;
  background-color: get-color('text', 0.08);
  text-transform: uppercase;

  &:hover {
    background-color: get-color('text', 0.1);
  }

  &:active,
  &:focus-visible,
  &[data-pressed] {
    background-color: get-color('text', 0.15);
    transform: scale(0.9);
  }

  @each $state in $letter-states {
    &[data-mark='#{$state}'] {
      color: #fff;
      background-color: get-color($state);
      border-color: get-color($state);
    }
  }
}

@include breakpoint-up('xs') {
  .key {
    block-size: 50px;
  }
}

@include breakpoint-up('md') {
  .key {
    block-size: 40px;
    font-size: 1.2rem;
  }
}
