#keypad {
  padding: 8px;
  --space: 0.5rem;
  inline-size: min(100%, 1200px);
  margin: 0 auto 1rem;
}

.lane {
  display: flex;
  justify-content: space-around;
  gap: var(--space);

  & + & {
    margin-block-start: var(--space);
  }
}

.key {
  flex: 1;
  font-size: 1.2rem;
  background-color: get-color('text', 0.08);
  text-transform: uppercase;

  &:hover {
    background-color: get-color('text', 0.1);
  }

  &:active,
  &:focus-visible,
  &[data-pressed] {
    background-color: get-color('text', 0.15);
    transform: scale(0.9);
  }
}
