#root {
  min-block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 4px;

  a {
    font-size: 1.5rem;
    padding: 4px 10px;
  }

  select {
    text-transform: capitalize;
    padding-block: 2px;
  }
}

#msg {
  display: block;
  margin-inline: auto;
  min-block-size: 30px;
}