#root {
  min-block-size: 100vh;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 4px;

  a {
    color: get-color('text');
    font-size: 1.5rem;
    padding: 4px 10px;
  }

  select {
    text-transform: capitalize;
    padding-block: 2px;
  }
}

#msg {
  display: block;
  min-block-size: 30px;
}

.ctrl {
  text-align: center;
  
  button:disabled {
    visibility: hidden;
  }
}

.btn {
  padding: 4px 10px;
  background-color: get-color('text', 0.08);

  &:hover {
    background-color: get-color('text', 0.1);
  }

  &:is(:active, :focus) {
    background-color: get-color('text', 0.15);
  }
}
