* {
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #000;
  font-size: 1rem;
  font-family: system-ui;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
