* {
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: get-color('text');
  font-size: 1rem;
  font-family: system-ui;
  background-color: get-color('bg');
  line-height: 1.5;
}

a {
  color: get-color('link');
  text-decoration: none;
}

button,
select {
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

button {
  border: 0;
  border-radius: 1ex;
}

select {
  background-color: get-color('bg');
}
